<h1>{{nombre}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{nombre}}</dd>

  <td>Edad:</td>
  <dd>{{edad}}</dd>

  <td>Metodo:</td>
  <dd> {{obtenerDescripcionHeroe()}}</dd>

  <td>Capitalizado:</td>
  <dd> {{nombreCapitalizado}}</dd>
</dl>

<button *ngIf="nombre !== 'Spiderman'" class="btn btn-primary me-2" (click)="cambiarNombre()">
  Cambiar nombre
</button>

<button *ngIf="edad !== 20" class="btn btn-primary" (click)="cambiarEdad()">
  Cambiar edad
</button>

<button class="btn btn-primary" (click)="Reiniciar()">
  Reiniciar
</button>
